<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pesquisar Avaliações</title>
    <%- include('../../partials/estilizacao.ejs') %>
  </head>

  <body>
    <%- include('../../partials/navbar.ejs') %>

    <div class="container mt-3 min-vh-100">
      <h2>Pesquisar Avaliações</h2>
      <form
        class="form-inline mt-3"
        action="/avaliacoes/resultados_pesquisa"
        method="GET"
      >
        <div class="form-group">
          <label for="livroId">Selecione o Livro:</label>
          <select class="form-control" id="livroId" name="livroId">
            <% livros.forEach(function(livro) { %>
            <option value="<%= livro.LivroID %>"><%= livro.Titulo %></option>
            <% }); %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary ml-2">Pesquisar</button>
      </form>
    </div>
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
