<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pesquisar Editoras</title>
    <!-- Inclua os estilos do Bootstrap ou outros estilos necessários -->
    <%- include('../../partials/estilizacao.ejs') %>
  </head>

  <body>
    <!-- Inclua a barra de navegação, se necessário -->
    <%- include('../../partials/navbar.ejs') %>
    <div class="container mt-3 min-vh-100">
      <h2>Pesquisar Editoras</h2>
      <form
        class="form-inline mt-3"
        action="/editoras/resultados_pesquisa"
        method="GET"
      >
        <div class="form-group">
          <label for="nomeEditora" class="sr-only">Nome da Editora</label>
          <input
            type="text"
            class="form-control"
            id="nomeEditora"
            name="nome"
            placeholder="Digite o nome da editora"
          />
        </div>
        <button type="submit" class="btn btn-primary ml-2">Pesquisar</button>
      </form>
      <h3>Resultados da Pesquisa</h3>

      <% if(editoras.length > 0) {%>
      <ul class="list-group">
        <% editoras.forEach(function(editora) { %>
        <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <strong> <%= editora.NomeEditora %> </strong><br />
              Livros Publicados: <%= editora.Livros %>
            </div>
            <div>
              <!-- Botão para editar a editora -->
              <a
                href="/editoras/editar/<%= editora.EditoraID %>"
                class="btn btn-primary mr-2"
              >
                Editar Editora
              </a>
              <!-- Botão para excluir a editora -->
              <button
                class="btn btn-danger"
                data-toggle="modal"
                data-target="#deleteModal<%= editora.EditoraID %>"
              >
                Excluir Editora
              </button>
            </div>
          </div>
        </li>

        <!-- Modal de confirmação -->
        <div
          class="modal fade"
          id="deleteModal<%= editora.EditoraID %>"
          tabindex="-1"
          role="dialog"
          aria-labelledby="deleteModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmação</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Fechar"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  Tem certeza de que deseja excluir a editora "<%=
                  editora.NomeEditora %>"?
                </p>
                <!-- Formulário para confirmação de exclusão -->
                <form
                  id="deleteForm<%= editora.EditoraID %>"
                  action="/editoras/excluir/<%= editora.EditoraID %>"
                  method="POST"
                >
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Cancelar
                  </button>
                  <!-- Botão para confirmar a exclusão -->
                  <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
      </ul>
      <% } else { %>
      <p>Não foram encontrados resultados para esta pesquisa.</p>
      <% } %>
    </div>
    <!-- Inclua o rodapé, se necessário -->
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
